.container {
  margin: auto;
  min-height: 90vh;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #00222f;
  color: #ffd700;
  text-align: center;
  padding: 0 20px;
  position: absolute;
  width: 100%;
}
.company {
  font-size: 18px;
  color: red;
}
.name {
  font-size: 18px;
  color: red;
}
@media (min-width: 1024px) {
  .container {
    margin: auto;
    padding: 0 40px;
  }
}
@media (min-width: 1500px) {
  .container {
    margin: auto;
    width: 1400px;
    padding: 0 20px;
  }
}
